// Primary color palette
$custom-primary: (
  (
    50: #e3f2fd,
    100: #bbdefb,
    200: #90caf9,
    300: #64b5f6,
    400: #42a5f5,
    500: #1f7fbe,
    600: #1c75b1,
    700: #185ea1,
    800: #144a91,
    900: #0f357f,
    A100: #82b1ff,
    A200: #448aff,
    A400: #2979ff,
    A700: #1c54b2,
  )
);

// Accent color palette
$custom-accent: (
  (
    50: #e8f5e9,
    100: #c8e6c9,
    200: #a5d6a7,
    300: #81c784,
    400: #66bb6a,
    500: #4cb43f,
    600: #43a036,
    700: #388e3c,
    800: #2e7d32,
    900: #1b5e20,
    A100: #b9f6ca,
    A200: #69f0ae,
    A400: #00e676,
    A700: #00c853,
  )
);

// Warn color palette
$custom-warn: (
  (
    50: #ffebee,
    100: #ffcdd2,
    200: #ef9a9a,
    300: #e57373,
    400: #ef5350,
    500: #c74042,
    600: #d32f2f,
    700: #b71c1c,
    800: #9e1c1c,
    900: #821919,
    A100: #ff8a80,
    A200: #ff5252,
    A400: #ff1744,
    A700: #d50000,
  )
);
