<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="nav-bar">
    <ng-container *ngFor="let link of links">
      <ng-container *ngIf="!link.children; else accordionTemplate">
        <button
          mat-stroked-button
          [routerLink]="link.route"
          color="secondary"
          class="nav-btn"
        >
          {{ link.label }}
        </button>
      </ng-container>

      <ng-template #accordionTemplate>
        <mat-accordion class="navigation">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> {{ link.label }}</mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let child of link.children">
              <button
                mat-stroked-button
                [routerLink]="child.route"
                class="nav-btn"
              >
                <img
                  *ngIf="child.icon"
                  [src]="'assets/icons/' + child.icon"
                  class="custom-icon"
                />
                {{ child.label }}
              </button>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </ng-template>
    </ng-container>
  </mat-sidenav>
</mat-sidenav-container>
