<div class="nav-bar">
  <div class="inunity-container">
    <mat-icon class="inunity"></mat-icon>
  </div>

  <button mat-flat-button color="primary" class="nav-btn">Pregled dela</button>

  <mat-accordion class="navigation">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Administracija </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <!-- Add buttons for administration links here -->
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Lotus Notes </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <!-- Add buttons for Lotus Notes links here -->
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Mediskop </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <!-- Add buttons for Mediskop links here -->
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> New Section </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <button mat-stroked-button>New Link</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <button mat-stroked-button>Dodelitev pravic</button>
</div>
