.sidenav-container {
  height: 100%;
}

.nav-bar {
  width: 250px;
  height: calc(100vh - 60px);
  position: fixed;
  top: 60px;
  left: 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  padding: 20px 10px;
}

.nav-btn,
mat-expansion-panel {
  margin-bottom: 10px;
  width: 100%;
  text-align: left;
  justify-content: flex-start;
}

.custom-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  vertical-align: middle;
}

mat-expansion-panel-header {
  font-weight: 500;
  padding-left: 15px;
}
